<form action="/contacts" method="post">  <!-- So this is going to /contacts post. -->

  <label>Text:</label> <!-- Prints Name. -->
  <input type="text" name="person[name]" >  

  <input type="submit"> 

</form>
